/* Brand Colors ------------------------------------------------*/

	$blue:#00BCD4;;
	$navy: #01579B;
	$rose:#FF4076;

	$placeholder: $navy;

	$font:'Nunito', sans-serif;
	$fontalt:'Ranchers', cursive;
