.founders{
  @include box;
  .figure{
    position: absolute;
    width: 100%;
    height: 610px;
    display: block;
    z-index: -1;
    top: 200px;
    left: 0;
    img{
      width: 100%;
      height: 100%;
      display: block;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: visible;
    align-items: stretch;
    margin: 40px 0 0;
    li{
      width: 550px;
      background: $navy;
      border-radius: 10px;
      padding: 30px;
      box-sizing: border-box;
      margin: 0 auto;
      @media (max-width: 1730px) {
        width: 390px;
        padding: 22px 22px 0 22px;
      }
      @media (max-width: 1440px) {
        width: 390px;
        padding: 22px 22px 0 22px;
      }
      @media (max-width: 1300px) {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
      @media (max-width: 780px) {
      }
      @media (max-width: 450px) {
        padding: 30px 0;
        border-radius: 0;
      }
      .avatar{
        display: block;
        overflow: hidden;
        width: 100%;
        height: 420px;
        box-shadow: 0px 10px 15px rgba(3, 3, 3, 0.35);
        border-radius: 10px;
        margin: 0 0 20px;
        @media (max-width: 1730px) {
          width: 345px;
          height: 295px;
        }
        @media (max-width: 1440px) {
          width: 345px;
          height: 295px;
        }
        @media (max-width: 1300px) {
        }
        @media (max-width: 780px) {
        }
        @media (max-width: 450px) {
          width: 105%;
          height: auto;
        }
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .description{
        display: block;
        width: 100%;
        h3{
          display: block;
          margin: 0 0 20px;
          font-family: $font;
          font-style: normal;
          font-weight: bold;
          font-size: 34px;
          line-height: 1;
          text-align: center;
          color: #FFFFFF;
          @media (max-width: 1730px) {
            font-size: 24px;
          }
          @media (max-width: 1440px) {
            font-size: 24px;
          }
          @media (max-width: 1300px) {
          }
          @media (max-width: 780px) {
          }
          @media (max-width: 450px) {
          }
        }
        p{
          display: block;
          margin: 0 0 20px;
          font-family: $font;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          color: #FFFFFF;
          @media (max-width: 1730px) {
            font-size: 16px;
          }
          @media (max-width: 1440px) {
            font-size: 16px;
          }
          @media (max-width: 1300px) {
            padding: 10px 15px;
          }
          @media (max-width: 780px) {
          }
          @media (max-width: 450px) {
          }
        }
      }
    }
  }
}
